body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 40px;
}


/* ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    color: #424242;
    margin-bottom: 10px;
}

.square {
    color: #424242;
    background: #26a69a;
    border: 4px solid #00897b;
    float: left;
    font-size: 96px;
    font-weight: bold;
    line-height: 136px;
    height: 136px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 136px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
}

.game-info {
    font-size: 48px;
    color: #424242;
    margin-top: 20px;
    text-align: center;
}

.restart-button {
    margin-top: 20px;
    text-align: center;
}

.restart:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.restart:focus {
    outline: none;
}

.restart:active {
    box-shadow: 0 1px #424242;
    transform: translateY(1px);
}

.restart {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #424242;
    color: #fffde7;
    border: none;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    width: 40%;
    text-align: center;
    border-radius: 4px;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
   
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
} */


/* .p {
    color: black;
    text-align: center;
    margin-right: 6rem;
    text-decoration: underline;
}

h1 {
    margin: 2rem;
}

.board {
    border: 1px solid white;
    background: #535252;
   
    width: 300px;
    height: 300px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.squares {
    background: #272727;
    border: none;
    font-size: 5rem;
    cursor: pointer;
    outline: none;
    margin-left: 2rem;
}

.X {
    color: red;
}

.O {
    color: green;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
}

h3 {
    padding: 1rem;
}

li {
    list-style: none;
}

.info-wrapper button {
    background: #b54040;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
} */